@font-face {
  font-family: Adelle;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/adelle-3.eot?#iefix");
  src: url("fonts/adelle-3.eot?#iefix") format("eot"),
       url("fonts/adelle-3.woff2") format("woff2"),
       url("fonts/adelle-3.woff") format("woff"),
       url("fonts/adelle-3.ttf") format("truetype");
}

@font-face {
  font-family: Adelle;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/adelle-3i.eot?#iefix");
  src: url("fonts/adelle-3i.eot?#iefix") format("eot"),
       url("fonts/adelle-3i.woff2") format("woff2"),
       url("fonts/adelle-3i.woff") format("woff"),
       url("fonts/adelle-3i.ttf") format("truetype");
}

@font-face {
  font-family: Adelle;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/adelle-6.eot?#iefix");
  src: url("fonts/adelle-6.eot?#iefix") format("eot"),
       url("fonts/adelle-6.woff2") format("woff2"),
       url("fonts/adelle-6.woff") format("woff"),
       url("fonts/adelle-6.ttf") format("truetype");
}

@font-face {
  font-family: Adelle;
  font-style: italic;
  font-weight: bold;
  src: url("fonts/adelle-6i.eot?#iefix");
  src: url("fonts/adelle-6i.eot?#iefix") format("eot"),
       url("fonts/adelle-6i.woff2") format("woff2"),
       url("fonts/adelle-6i.woff") format("woff"),
       url("fonts/adelle-6i.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/avenir-next-7.eot?#iefix");
  src: url("fonts/avenir-next-7.eot?#iefix") format("eot"),
       url("fonts/avenir-next-7.woff2") format("woff2"),
       url("fonts/avenir-next-7.woff") format("woff"),
       url("fonts/avenir-next-7.ttf") format("truetype");
}
