.icon-apprentice-white { background-image: url('png/apprentice-white.png'); background-repeat: no-repeat; }

.icon-apprentice { background-image: url('png/apprentice.png'); background-repeat: no-repeat; }

.icon-bookmarklet-white { background-image: url('png/bookmarklet-white.png'); background-repeat: no-repeat; }

.icon-bookmarklet { background-image: url('png/bookmarklet.png'); background-repeat: no-repeat; }

.icon-buildright { background-image: url('png/buildright.png'); background-repeat: no-repeat; }

.icon-collabnotes-white { background-image: url('png/collabnotes-white.png'); background-repeat: no-repeat; }

.icon-collabnotes { background-image: url('png/collabnotes.png'); background-repeat: no-repeat; }

.icon-consultation { background-image: url('png/consultation.png'); background-repeat: no-repeat; }

.icon-content-white { background-image: url('png/content-white.png'); background-repeat: no-repeat; }

.icon-content { background-image: url('png/content.png'); background-repeat: no-repeat; }

.icon-design-clarity { background-image: url('png/design-clarity.png'); background-repeat: no-repeat; }

.icon-dribbble { background-image: url('png/dribbble.png'); background-repeat: no-repeat; }

.icon-education { background-image: url('png/education.png'); background-repeat: no-repeat; }

.icon-email-lab-white { background-image: url('png/email-lab-white.png'); background-repeat: no-repeat; }

.icon-embrace-devices { background-image: url('png/embrace-devices.png'); background-repeat: no-repeat; }

.icon-external-icon { background-image: url('png/external-icon.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-forte-white { background-image: url('png/forte-white.png'); background-repeat: no-repeat; }

.icon-forte { background-image: url('png/forte.png'); background-repeat: no-repeat; }

.icon-foundry { background-image: url('png/foundry.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.icon-honor-content { background-image: url('png/honor-content.png'); background-repeat: no-repeat; }

.icon-implementation { background-image: url('png/implementation.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-lanyrd { background-image: url('png/lanyrd.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-logo-graphic { background-image: url('png/logo-graphic.png'); background-repeat: no-repeat; }

.icon-mc-white { background-image: url('png/mc-white.png'); background-repeat: no-repeat; }

.icon-mg-white { background-image: url('png/mg-white.png'); background-repeat: no-repeat; }

.icon-mg { background-image: url('png/mg.png'); background-repeat: no-repeat; }

.icon-person { background-image: url('png/person.png'); background-repeat: no-repeat; }

.icon-personal { background-image: url('png/personal.png'); background-repeat: no-repeat; }

.icon-prototype-white { background-image: url('png/prototype-white.png'); background-repeat: no-repeat; }

.icon-prototype { background-image: url('png/prototype.png'); background-repeat: no-repeat; }

.icon-ruler-white { background-image: url('png/ruler-white.png'); background-repeat: no-repeat; }

.icon-ruler { background-image: url('png/ruler.png'); background-repeat: no-repeat; }

.icon-solve-problems { background-image: url('png/solve-problems.png'); background-repeat: no-repeat; }

.icon-speaker-deck { background-image: url('png/speaker-deck.png'); background-repeat: no-repeat; }

.icon-stack-overflow { background-image: url('png/stack-overflow.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-wireframe-white { background-image: url('png/wireframe-white.png'); background-repeat: no-repeat; }

.icon-wireframe { background-image: url('png/wireframe.png'); background-repeat: no-repeat; }

.icon-wraith { background-image: url('png/wraith.png'); background-repeat: no-repeat; }

